<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.zlt.perfectweather">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="com.app.zlt.perfectweather.base.WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/weather_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/weather_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.app.zlt.perfectweather.activity.BeginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.zlt.perfectweather.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.app.zlt.perfectweather.activity.ADetailActivity" />
        <activity
            android:name="com.app.zlt.perfectweather.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.zlt.perfectweather.activity.SelectCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.zlt.perfectweather.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.open.yyb.AppbarActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.tencent.connect.avatar.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1108071510" />
                <!--应用的AppId要相同-->
            </intent-filter>
        </activity>
        <service android:name="com.app.zlt.perfectweather.sevices.WeatherService" />

    </application>

</manifest>